:root {
  --buttons-color: rgb(83, 119, 235);
}

* {
  position: relative;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  border-bottom: 4px solid var(--buttons-color);
  margin: 2%;
}

h2,
.home {
  margin: 15px;
  color: var(--buttons-color);
  flex-shrink: 3;
  text-decoration: none;
}
nav {
  display: flex;
  flex-shrink: 1;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
#bars {
  display: none;
}
.link {
  color: rgb(252, 252, 252);
  text-decoration: none;
  transition: 0.4s;
  position: relative;
  padding: 7px 15px;
}
#home-link {
  background-color: var(--buttons-color);
  color: white;
  border-radius: 5px;
  padding: 7px 15px;
}
.link:hover {
  background-color: var(--buttons-color);
  color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 550px) {
  .visible {
    display: none;
  }
  nav {
    position: absolute;
    flex-direction: column;
    top: 60px;
    left: 60%;
    z-index: 10;
    background-color: rgb(245, 237, 126);
    padding: 10px 0px;
    width: fit-content;
    padding: 30px;
    border-radius: 9px;
  }
  .link {
    color: rgb(83, 119, 235);
  }
  #bars {
    display: inline;
    position: relative;
    font-size: 30px;
    right: 10px;
    color: rgb(83, 119, 235);
    cursor: pointer;
    transition: 0.4s;
  }
  #bars:hover {
    color: rgb(37, 85, 241);
  }
}
@media only screen and (max-width: 400px) {
  nav {
    left: 48%;
  }
}
