*{
  padding:0;
  margin:0;
  box-sizing: content-box;
}
div.template{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height:260px;
  margin: 8px;
  width: 200px;
}
.delete {
  background-color: rgb(0, 45, 248);
  color: white;
}
