
.result{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  background-color: rgb(245, 237, 126);
  color: black;
  border-radius: 10px;
  border-bottom: 6px solid rgb(70, 72, 73);
  border-right: 4px solid rgb(71, 72, 73);
}
#delete{
  background-color: red;
  border-radius: 4px;
}